:root {

    --primario: #005377;
    --primarioOscuro: #06A77D;
    --secundario: #F1A208;
    --secundarioOscuro: #b6860e;
    --blanco: #fff;
    --negro: #000;
    --fuentePrincipal: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {

    background-color: var(--primario);
    font-size: 1.5rem;
    line-height: 1.5;
    /* Base de la fuente*/

}

h4 {
    font-size: 16px;
    font-weight: 700;
}

p {

    font-size: 1.8rem;
    color: var(--blanco);
}

/* Globales */
a {
    text-decoration: none;
}

img {
    width: 100%;

}

.tamañoimgcarrito {
    height: 15rem;
    width: 15rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    margin: 1rem;
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/** header **/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
    border-radius: 5%;
    height: 25rem;
    width: 25rem;
}

/* Footer */
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;

}

/* navegacion */

.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.navegacion__enlace {
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}

/* Grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);

    }
}



/* Producto*/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
    display: grid;
}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    color: var(--secundario);
    font-size: 2.8rem;
}




.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 2rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Graficos**/
.grafico {
    min-height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
}

.grafico--camisa {
    grid-row: 2 / 3;
    background-image: url(../img/grafico2.jpg);
}

.grafico--thor {
    background-image: url(../img/grafico1.jpg);
    grid-row: 8 / 9;
}

.mediana {
    width: 34rem;
    height: 25rem;
}

@media (min-width: 480px) {

    .mediana {
        width: 21rem;
        height: 16rem;
    }

    .producto {

        justify-content: space-between;
        align-content: space-around;

    }
}

.btn {
    text-transform: uppercase;
    font-size: 1.5rem;


}

.producto {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
}



@media (min-width: 768px) {
    .grafico--thor {
        grid-row: 5/6;
        grid-column: 2/4;
    }

    .mediana {
        width: 35rem;
        height: 35rem;
    }

    .producto {
        justify-items: center;
        align-items: center;

    }

    .btnd {
        text-transform: uppercase;
        font-size: 1.5rem;


    }


}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/** Nosotros**/

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);


}


@media (min-width: 768px) {

    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;

    }
}

.nosotros__imagen {
    grid-row: 1/2;
    width: 100%;
}

@media (min-width: 768px) {

    .nosotros__imagen {
        grid-column: 2/3;
    }
}

/** Bloques**/
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);

    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;

}

.bloque__imagen {
    width: 100%;
}

/**  Pagina del producto **/

@media (min-width: 768px) {
    .funko {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/** formulario**/

@media (max-width:375px) {
    .formulario {

        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .formulario__campo {
        grid-column: 1/2;
        text-align: center;
    }


}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    font-size: 2rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color 0.25s ease;
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);

}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;

    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

ul {
    list-style: none;
}

#img-carrito {
    margin-top: 10px;
    height: 3rem;
    width: 4rem;
}